body {
  font-family: 'Segoe UI', sans-serif;
  background: #f0f2f5;
  padding: 30px;
}

.container {
  max-width: 500px;
  margin: auto;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
  margin-bottom: 25px;
}

form label {
  margin-top: 15px;
  display: block;
  font-weight: 500;
}

form input,
form select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

form button {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  background-color: #fff200;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

form button:hover {
  background-color: #a9ee28;
}
